{% if book %}
    dodano książke o tytule {{ book.title_omg }}
{% endif %}
<form method="post">
    {% csrf_token %}
    <input type="number" name="year" placeholder="rok">
    <input type="text" name="title" placeholder="tytuł">
    <select name="author">
        {% for p in persons %}
            <option value="{{ p.id }}">{{ p.first_name }} {{ p.last_name }}</option>
        {% endfor %}
    </select>
    {% for genre in genres %}
        <p><input type="checkbox" name="genre" value="{{ genre.id }}"> {{ genre.name }}</p>
    {% endfor %}
    <input type="submit">
</form>